{#Michał Bogusławski#}

{% extends 'base.html.twig' %}

{% block title %}Admin page{% endblock %}

{% block body %}

 
    <a class="button" href="{{ path('blog') }}">Homepage </a>
    <a class="button" href="{{ path('logout') }}" style="float: right;">Logout</a>
    </br>
    Add post
    
    
    <div class="post post-homepage">
        

        {{form_start(form)}}
            {{ form_label(form.author, 'Author') }}
            {{ form_widget(form.author, {'attr': {'class': 'input'}}) }}
            {{ form_label(form.author, 'Title') }}
            {{ form_widget(form.title, {'attr': {'class': 'input'}}) }}
            {{ form_label(form.author, 'Text') }}
            {{ form_widget(form.text, {'attr': {'class': 'input','style': 'height: 200px;'}}) }}
            {{ form_widget(form.submit,{'attr': {'class': 'input'}}) }}
        {{ form_end(form) }}
    </div>

    

{% endblock %}
