{#Michał Bogusławski#}
{#Kamil Gozdalski#}

{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}

{{ parent() }}
<div class="container">
    <div>
        <h1 class="mt-4">{{post.title}}</h1>
        <p class="lead">Author: {{post.author}}</p>
        <hr>
        <p>Posted on {{ post.date|date("d/m/Y")}}</p>
        <hr>
        <hr>
        <p class="text-wrap text-break">{{post.text}}</p>
    </div>

    <div class="card">
        <div class="card-header">
            <h5>Leave a comment</h5>
        </div>
        <div class="card-body">

        {{form_start(form)}}
            <div>
            {{ form_widget(form.author, {'attr': {'class': 'form-control', 'placeholder': 'Author'}}) }}
            </div>
            <div class="my-3">
            {{ form_widget(form.text, {'attr': {'class': 'form-control', 'placeholder': 'Comment'}}) }}
            </div>
            <div>
            {{ form_widget(form.submit,{'attr': {'class': 'btn btn-primary'}}) }}
            </div>
        {{ form_end(form) }}
        </div>
    </div>
    <hr>


    {% for comment in post_comments %}
        <div class=" mb-4">
            <h5 class="mt-0 text-break text-wrap">{{comment.author}} </h5>
            <p class="text-break text-wrap">{{comment.text}}</p>
        </div>
    {% endfor %}

</div>

{% endblock %}
