{#Michał Bogusławski#}

{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}

<a class="button" href="{{ path('blog') }}">Home page</a>

<div class="post">
    Post Title {{post.title}}<br/>
    Author: {{post.author}} <br/><hr>
    {{post.text}}

</div>

{% for comment in post_comments %}
<div class="commentary">
    Author: {{comment.author}} <br/>
    {{comment.text}}

</div>
{% endfor %}


<div class="commentary commentary-add">
    
    {{form_start(form)}}
        {{ form_widget(form.author, {'attr': {'class': 'input', 'placeholder': 'Author'}}) }}
        {{ form_widget(form.text, {'attr': {'class': 'input', 'placeholder': 'Comment'}}) }}
        {{ form_widget(form.submit,{'attr': {'class': 'input'}}) }}
    {{ form_end(form) }}

</div>



{% endblock %}
